
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.shape{
    font-family: Miama;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 30px;
}
 .bgc{
     background-color: rgb(0, 0, 0);
 }
.header{
    background:linear-gradient(rgb(23, 21, 21), rgba(0, 3, 10, 0.955));;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;    

}
.list-item{
    display: flex;
    align-items: center;
    gap: 47px;
    border-radius: 39px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}
.list-item>li{
    list-style: none;
    text-align: center;
}
.list-item>li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.title{
    width: 132px;
    height: 43px;
    font-weight: 800;
    font-size: 36px;
    color: rgba(230, 83, 60, 1);

}
.home-btn{
    font-weight: 600;
    font-size: 18px;
    border-radius: 46px;
    width: 80px;
    height: 30px;
    background: rgba(230, 83, 60, 1);
}
.container{
    display: flex;
    color: white;
}
.title-1{
    width: 550px;
    height: 282px;
    align-items: center;
    font-weight: 900;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 150px;
}
.description{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin-left: 150px;
    margin-top: -30px;
}
.img1{
    position: relative;
    margin-right: 150px;
}
.Button{
    display: flex;
}
.btn1,.btn3{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background: rgba(230, 83, 60, 1);
    margin-left: 150px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
}
.btn2{
    font-size: 18px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 25, 25);
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
}
.box{
    position:absolute;
    color: white;
    width: 200px;
    height: 100px;
    top: 90%;
    left: 55%;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
.box-container{
    display: flex;
    width: 200px;
    height: 100px;
}
.circle-box{
    border-radius: 50%;
    background-color: red;
    margin-top: 15%;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.count{
    width: 130px;
    height: 100%;
}
.count>h3{
    font-size: 24px;
    padding-left: 10px;
}
.count>p{
    color: rgba(239, 237, 232, 0.65);
}
.box-description{
    margin-top: -20px;
    padding-left: 10px;
}
.box-2{
    position: absolute;
    top: 40%;
    right: 7%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
}
.box-c{
    width: 190px;
    height: 80px;
}
.boxt{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
}
.boxd{
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: -25px;
    color: rgba(255, 255, 255, 0.65);
}
.habit-section{
    background: rgb(0, 0, 0);
    color: white;
}
.habit{
    padding-top: 50px;
}
.title-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
}
.description-2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 28%;
    color: rgba(255, 255, 255, 0.5);
}
.habit-img{
    display: flex;
    padding-top: 50px;
    width: 80%;
    margin:50px auto ;
}
.img{
    display: flex;
    border-radius: 50%;
    margin-left: 50px;
}
.center-header{
    display: flex;
    justify-content: center;
    text-align: center; 
}
.img-description{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}

/* Runner */
.runner-title{
    font-weight: 800;
    font-size: 3rem;
    padding-left: 50px;
}
.runner-description{
    padding-left: 50px;
}
.runner{
    background:rgb(34, 34, 34);
    display: flex;
    width: 80%;
    margin: 0px auto;
}
.Runner{
    width: 100%;
}
.btn3{
    margin-left: 50px;
}
.runner-img{
    margin: 40px 0px 40px 100px;
    border-radius: 18px;
    width: 70%;
}
.run-img{
    width: 80%;
}
/* Table section */
.clc-title{
    width: 671px;
    color: white;
    margin: 0px auto;
    padding-bottom: 50px;
}
.clc-title>h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
.description-clc{
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.5);
}
.table-section{
    background: rgb(34, 34, 34);
    color: wheat;
}
.table{
   display: flex; 
   width: 85%;
   margin: 0px auto;
}
.table-head{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}
td,th{
    padding: 10px;
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
table{
    border-collapse: collapse;
}
.table-section{
    display: flex;
}
.calculate{
    width: 577px;
    height: 386px; 
    margin-left: 200px;
}
.calculate>h2{
    font-size: 28px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.description-bmi{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.input-value{
    font-size: 16px;
    width: 260px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.input-arrow{
    font-size: 16px;
    width: 270px;
    height: 48px;
    border-radius: 8px;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    
}
.input-arrow2{
    font-size: 16px;
    width: 555px;
    height: 48px;
    border-radius: 8px;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    
}
input{
    color: rgba(255, 255, 255, 0.6);   
}
option{
    color: black;
}
.input-bgg{
    font-size: 16px;
    font-weight: 400;
}
.input-width{
    grid-column: 1/3;
}
.input-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 180px;
}
input{
    margin: 5px;
}
.btn4{
    font-size: 1.2rem;
    background: rgba(230, 83, 60, 1);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 50px;
    width: 200px;
    
}
/* Team section */
.team-title{
    text-align: center;
}
.team-description{
    text-align: center;
    margin: 0px 350px 0px 400px;
}
.team-img{
    border: 2px solid yellow;
    display: flex;
    height: 100%;
    width: 100%;
}
 .team-section{
    border: 2px solid red;
 }
.t-img{
    border: 2px solid tomato;
    height: 100%;
    width: 100%;
}
/* meet our team */
.meet-team{
    background-color: black;
    color: white;
    width: 100%;
}
.meet-div{
    width: 50%;
    margin: 0px auto;
}
.meet-title{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.meet-description{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -40px;
    margin-bottom: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px auto;
    width: 1060px;
    height: 604px;
    background: rgba(255, 255, 255, 0.1);
}
.trainer{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;    
}
.trainer-identity{
    position: absolute;
    top: 70%;
    left: 10%;
    color: white;
}
.trainer-identity>p{
    margin-top: -20px;
    color: rgb(243, 221, 221);
}
.size{
    border-radius: 8px;
    width: 326.67px;
    height: 272px;
}

/* footer section */
footer{
    background-color:rgb(31, 31, 31);
    color: white;
}
.last-section{
    display: flex;
}
.footer-container{
    margin-left: 150px;
    margin-right: 90px;
    padding-right: 50px;
}
.footer-title{
    font-weight: 800;
    font-size: 4.3rem;
    display: flex;
    color: rgba(230, 83, 60, 1);
}
.footer-description{
    display: flex;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-top: -50px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-nav{
    display: flex;
    gap: 100px;
    margin-right: 150px;
}
.footer-div{
    display: flex;
}
.navbar-div{
    display: flex;
    gap: 50px;
}
.ul>li{
    margin-left: -40px;
}
.div1,.div2{
    width: 200px;
}
.get-start{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.ul{
    width: 185px;
    list-style: none;
    text-align: left;
}
.ul>li{
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.border{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.the-end{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 25px;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.5);
}

/* small device responsive */


@media screen and (max-width:576px){
    .list-item{
        display: none;
    }
    .title{
        margin-left: -100px;
    }
    .menubar{
        position:absolute;
        top: 14%;
        right: 5%;
        transform: translate(-50%, -50%);
    }
    .menu{
        width: 30px;
        height: 4px;
        background: rgb(240, 245, 245);
        margin: 2px auto;
        border-radius: 5px;
    }
    /* .shape{
        font-family: Miama;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 30px;
    } */
    .container{
        flex-direction: column;
    }
    .title-1{
        width: 300px;
        height: 200px;
        font-size: 3rem;
        margin-left: 20px;
    }
    .description{
        display: flex;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
        width: 85%;
        height: 100%;
        margin-left: 20px;
    }
    .Button{
        display: flex;
        margin-left: -100px;
    }
    .btn1,.btn2{
        height: 70px;
    }
    .img1{
        position:relative;
        margin-left: 120px;
        margin-top: 80px;
    }
    .box{
        top: 190%;
        left: 25%;
    }
    .box-2{
        top: 140%;
        right: 7%;
    }
    .triangle-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
    }
    .triangle{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid white;
    }
    .description-2{
        width: 400px;
        margin-left: -80px;
    }
    .img-description{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding-bottom: 50px;
        margin: 0px auto;
    }
    .habit-img{
        flex-direction: column;
    }
    .img{
        margin-left: 130px;
    }
    .runner{
        flex-direction: column;
    }
    .runner-img{
        width: 100%;
        margin-left: 50px;
    }
    .btn3{
        color: white;
        font-size: 28px;
        font-weight: 400;
        background: rgba(230, 83, 60, 1);
        border-radius: 40px;
        height: 70px;
        width: 350px;
    }
    .clc-title{
        width: 500px;
        margin-left: 30px;
        margin-top: -20px;
    }
    .description-clc{
        width: 420px;
        font-size: 22px;
        padding-top: 20px;

    }
    .table{
        flex-direction: column;
        padding-bottom: 140px;
    }
    .calculate{
        margin: 0px;
    }
    .input-form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 600px;
        height: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .input-value{
        font-size: 16px;
        width: 200px;
        height: 44px;
        border-radius: 8px;
    }
    .input-arrow{
        width: 210px;
        
    }
    .input-arrow2{
        width: 433px;
        margin-top: 5px;
    }
    .description-bmi{
        width: 400px;
        font-size: 22px;
    }
    .btn4{
        font-size: 28px;
        font-weight: 400;
        height: 60px;
        width: 280px;

    }
    .meet-div{
        width: 400px;
    }
    .grid-container{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 400px;
        height: 100%;
    }
    .trainer{
        margin: 0px auto;
    }
    .footer-div{
        flex-direction: column;
    }
    .footer-container{
        margin-left: 50px;
        width: 300px;
        height: 350px;
    }
    .footer-description{
        width: 400px;
        font-size: 22px;
    }
    .navbar-div{
        flex-direction: column;
        margin-left: 50px;
    }
    .ul>li{
        font-size: 2rem;
        width: 300px;
    }
    .border{
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 500px;
        margin: 0px auto;
        margin-top: 50px;
    }
    .the-end{
        width: 100%;
        font-weight: 400;
        margin-left: 5px;
        margin-top: -5px;
        padding-bottom: 50px;
        font-size: 24px;
        border: none;
    }
}

